<%= form_tag '/api/v1/students', method: :post do %>
  <div>
    <%= label_tag :first_name %>
    <%= text_field_tag :first_name %>
  </div>  
  <div>
    <%= label_tag :last_name %>
    <%= text_field_tag :last_name %>
  </div>  
  <div>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>  
  <div>
    <%= label_tag :password %>
    <%= text_field_tag :password %>
  </div>  
  <div>
    <%= label_tag :phone_number %>
    <%= text_field_tag :phone_number %>
  </div>
  <div>
    <%= label_tag :short_bio %>
    <%= text_area_tag :short_bio %>
  </div>  
  <div>
    <%= label_tag :linkedin_url %>
    <%= text_field_tag :linkedin_url %>
  </div>  
  <div>
    <%= label_tag :twitter_handle %>
    <%= text_field_tag :twitter_handle %>
  </div>  
  <div>
    <%= label_tag :website_url %>
    <%= text_field_tag :website_url %>
  </div>  
  <div>
    <%= label_tag :resume_url %>
    <%= text_field_tag :resume_url %>
  </div>  
  <div>
    <%= label_tag :github_url %>
    <%= text_field_tag :github_url %>
  </div>  
  <div>
    <%= label_tag :photo_url %>
    <%= text_field_tag :photo_url %>
  </div>
  <div>
    <%= submit_tag 'Create Student'%>
  </div>
<% end %>